<phpunit bootstrap="bootstrap.php" colors="true">
	<testsuite name="LibXml">
        <directory>./Test/UnitTests</directory>
        <file>SaxTest.php</file>
    </testsuite>
	<filter>
		<whitelist>
			<directory suffix=".php">src/pixi</directory>
		</whitelist>
        <blacklist>
            <directory>./</directory>
            <directory>Example/</directory>
            <directory>vendor/</directory>
            <directory>build/</directory>
        </blacklist>
	</filter>
    <logging>
        <log type="junit" target="log.junit.xml"/>
    </logging>
</phpunit>